<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <title>Edições</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="bg-dark">
    <div class="bg-dark pb-5">

        <div class="text-center">
            <h1 class="text-white text-center pt-4 pb-4 " th:text="${titulo}">titulo</h1>
            <a th:href="@{/edicao_form}">
                <button class="btn btn-outline-success">Adicionar</button>
            </a>
        </div>


        <div class="container bg-transparent">
            <table class="table table-dark table-striped text-white">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">UF</th>
                    <th scope="col">Quantidade Participantes</th>
                    <th scope="col">Ano</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="edicao : ${list_edicao}">
                        <td th:text="${edicao.edicaoid}">ID</td>
                        <td th:text="${edicao.cidade}">ID</td>
                        <td th:text="${edicao.uf}">ID</td>
                        <td th:text="${edicao.qtdparticipantes}">ID</td>
                        <td th:text="${edicao.ano}">ID</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>